Chameleon==2.22
Mako==1.0.1
MarkupSafe==0.23
PasteDeploy==1.5.2
Pygments==2.0.2
SQLAlchemy==1.0.0b3
WebOb==1.4
gunicorn==19.3.0
pyramid==1.5.4
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.3
pyramid-mako==1.0.2
pyramid-tm==0.11
repoze.lru==0.6
transaction==1.4.3
translationstring==1.3
venusian==1.0
waitress==0.8.9
wsgiref==0.1.2
zope.deprecation==4.1.2
zope.interface==4.1.2
zope.sqlalchemy==0.7.6
