<h2>Landsat 8 bands</h2>
<p class='mb3'>
  Generating a new composite consists of choosing 3 of Landsat's 11 bands.<sup><a href='#fn:2' id='fnref:2'>&#8505;</a></sup>
</p>

<table class='table-light h5'>
  <thead>
    <tr>
      <th>Band</th>
      <th>Name</th>
      <th>Wavelength (µm)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Coastal - Aerosol</td>
      <td>0.43-0.45</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Blue</td>
      <td>0.45-0.51</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Green</td>
      <td>0.53-0.59</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Red</td>
      <td>0.64-0.67</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Near infrared (NIR)</td>
      <td>0.85-0.88</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Short-wave infrared (SWIR-1)</td>
      <td>1.57-1.65 </td>
    </tr>
    <tr>
      <td>7</td>
      <td>Short-wave infrared (SWIR-2)</td>
      <td>2.11-2.29 </td>
    </tr>
    <tr>
      <td>8</td>
      <td>Panchromatic</td>
      <td>0.50-0.68</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Cirrus</td>
      <td>1.36-1.38</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Thermal infrared (TIRS-1)</td>
      <td>10.60–11.19</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Thermal infrared (TIRS-2)</td>
      <td>11.50-12.51</td>
    </tr>
  </tbody>
</table>

<p class='mt3'>
  To learn more about what each band can be used for and other useful band combinations, visit <a href='/guide'>our guide.</a>
</p>
