<ul>
{% if composite.band1 == 1 %}
  {% include 'band/1.html' %}
{% elif composite.band1 == 2 %}
  {% include 'band/2.html' %}
{% elif composite.band1 == 3 %}
  {% include 'band/3.html' %}
{% elif composite.band1 == 4 %}
  {% include 'band/4.html' %}
{% elif composite.band1 == 5 %}
  {% include 'band/5.html' %}
{% elif composite.band1 == 6 %}
  {% include 'band/6.html' %}
{% elif composite.band1 == 7 %}
  {% include 'band/7.html' %}
{% elif composite.band1 == 9 %}
  {% include 'band/9.html' %}
{% endif %}


{% if composite.band2 == 1 %}
  {% include 'band/1.html' %}
{% elif composite.band2 == 2 %}
  {% include 'band/2.html' %}
{% elif composite.band2 == 3 %}
  {% include 'band/3.html' %}
{% elif composite.band2 == 4 %}
  {% include 'band/4.html' %}
{% elif composite.band2 == 5 %}
  {% include 'band/5.html' %}
{% elif composite.band2 == 6 %}
  {% include 'band/6.html' %}
{% elif composite.band2 == 7 %}
  {% include 'band/7.html' %}
{% elif composite.band2 == 9 %}
  {% include 'band/9.html' %}
{% endif %}


{% if composite.band3 == 1 %}
  {% include 'band/1.html' %}
{% elif composite.band3 == 2 %}
  {% include 'band/2.html' %}
{% elif composite.band3 == 3 %}
  {% include 'band/3.html' %}
{% elif composite.band3 == 4 %}
  {% include 'band/4.html' %}
{% elif composite.band3 == 5 %}
  {% include 'band/5.html' %}
{% elif composite.band3 == 6 %}
  {% include 'band/6.html' %}
{% elif composite.band3 == 7 %}
  {% include 'band/7.html' %}
{% elif composite.band3 == 9 %}
  {% include 'band/9.html' %}
{% endif %}
</ul>
