<h3>Create a preview</h3>
<p class='mb3'>
  Generating a new composite consists of choosing 3 of Landsat's 11 bands.
  Some common choices include:
</p>

<section id='scene_info'>

  <h4 class='mt3'>Natural color</h4>
  <p>Natural color images are created using the 4, 3, and 2 bands of the Landsat 8 satellite. Natural color images appear 'natural', because each of the bands that they use correspond to the colors we are naturally able to perceive, Red, Green, and Blue.</p>
  <form method='post right'>
    <input type='hidden' name='band1' value='4'/>
    <input type='hidden' name='band2' value='3'/>
    <input type='hidden' name='band3' value='2'/>
    <button class='button bg-silver black' 
      formaction='/request_preview/{{ meta_data.scene_id }}' 
      formmethod='post' 
      type='submit'>
      Create a 432 composite
    </button>
  </form>

  <h4 class='mt3'>Urban false color infrared</h4>
  <p>The combination of the 7, 6, and 4 bands is particularly useful for visualizing urban environments as it uses both the available Short-wave infrared (SWIR) bands. Because the SWIR bands capture longer wavelengths, they're less frequently affected by the smog and haze that typifies urban environments.</p>
  <form method='post'>
    <input type='hidden' name='band1' value='7'/>
    <input type='hidden' name='band2' value='6'/>
    <input type='hidden' name='band3' value='4'/>
    <button class='button bg-silver black' 
      formaction='/request_preview/{{ meta_data.scene_id }}' 
      formmethod='post' 
      type='submit'>
      Create a 764 composite
    </button>
  </form>

  <h4 class='mt3'>Color infrared</h4>
  <p>The combination of the 5, 4, and 3 bands are useful for analyzing vegetation health. Typically, the healthier the plant, the brighter the red it produces.</p>
  <form method='post'>
    <input type='hidden' name='band1' value='5'/>
    <input type='hidden' name='band2' value='4'/>
    <input type='hidden' name='band3' value='3'/>
    <button class='button bg-silver black' 
      formaction='/request_preview/{{ meta_data.scene_id }}' 
      formmethod='post' 
      type='submit'>
      Create a 543 composite
    </button>
  </form>

  <h4 class='mt3'>Create a custom composite</h4>
  <p>There are hundreds of possible variations, you're welcome to create whichever type of composite you'd like!</p>
  <form method='post' id='request_form_{{meta_data.scene_id}}'>
    <div id='combinations'>
      <select class='field-light not-rounded' name='band1' id='js-band1' required>
        <option selected value=''>Red Band</option>
      </select>
      <select class='field-light not-rounded' name='band2' id='js-band2' required>
        <option selected value=''>Green Band</option>
      </select>
      <select class='field-light rounded-right' name='band3' id='js-band3' required>
        <option selected value=''>Blue Band</option>
      </select>
      <button class='button block mt2 bg-silver black' 
        form='request_form_{{meta_data.scene_id}}' 
        formaction='/request_preview/{{meta_data.scene_id}}' 
        formmethod='post' 
        type='submit'>
        Create a custom composite
      </button>
    </div>
  </form>
  <script type='text/javascript' src='/static/js/band.js'></script>

</section> <!-- Scene info -->
