<div class='footnotes'>
    <hr>
    <ol>
        <li class='footnote' id='fn:5'>
            <p class='left-align'>Landsat specifies the wavelengths of light over which it captures images as a series of <a href='/guide#bands'><strong>bands</strong></a>.</p>
        </li>
        <li class='footnote' id='fn:7'>
            <ul class='list-reset'>
                <li><span class='red'>L</span><span class='green'>X</span><span class='blue'>S</span><span class='fuchsia'>PPP</span><span class='olive'>RRR</span class='purple'>YYYY<span class='orange'>DDD</span><span  class='maroon'>GSI</span><span class='navy'>VV</span></li>
                <li><span class='red'>L</span> <span class='regular'>= Landsat</span></li>
                <li><span class='green'>X</span> <span class='regular'>= Sensor</span></li>
                <li><span class='blue'>S</span><span class='regular'>= Satellite</span></li>
                <li><span class='fuchsia'>PPP</span> <span class='regular'>= WRS path</span></li>
                <li><span class='olive'>RRR</span> <span class='regular'>= WRS row</span></li>
                <li><span class='purple'>YYYY</span> <span class='regular'>= Year</span></li>
                <li><span class='orange'>DDD</span> <span class='regular'>= Julian day of year</span></li>
                <li><span class='maroon'>GSI</span> <span class='regular'>= Ground station identifier</span></li>
                <li><span class='navy'>VV</span> <span class='regular'>= Archive version number</span></li>
            </ul>
        </li> 
    </ol>
</div>
