
<!-- meta_data -->
<div class='sm-col sm-col-6 p1'>
  <table class='table-light'>
    <tbody>
      <tr>
        <td><strong>ID</strong><sup><a href='#fn:7' id='fnref:7'>&#8505;</a></sup></td>
        <td>{{ meta_data.scene_id }}</td>
      </tr>
      <tr>
        <td><strong>Time acquired (UTC)</strong></td>
        <td>{{ meta_data.acquisitiondate }}</td>
      </tr>
      <tr>
        <td><strong>Percent cloud cover</strong></td>
        <td>{{ meta_data.cloudcover }}%</td>
      </tr>
      <tr>
        <td><strong>Maximum latitude</strong></td>
        <td>{{ meta_data.max_lat }}</td>
      </tr>
      <tr>
        <td><strong>Minimum latitude</strong></td>
        <td>{{ meta_data.min_lat }}</td>
      </tr>
      <tr>
        <td><strong>Maximum longitude</strong></td>
        <td>{{ meta_data.max_lon }}</td>
      </tr>
      <tr>
        <td><strong>Minimum longitude</strong></td>
        <td>{{ meta_data.min_lon }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Location -->
<div class='sm-col sm-col-6 p1'>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <style>
    #position { position:relative; min-height: 254px; width:100%; }
  </style>

  <div id='position'></div>
  <script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiamFjcXVlcyIsImEiOiJuRm9TWGYwIn0.ndryRT8IT0U94pHV6o0yng';

    var sw = L.latLng({{ meta_data.min_lat }}, {{ meta_data.min_lon }}),
        ne = L.latLng({{ meta_data.max_lat }}, {{ meta_data.max_lon }}),
        bounds = L.latLngBounds(sw, ne);

    // Instantiate the map
    var map = L.mapbox.map('position', 'jacques.m3h4e0b4', {
      scrollWheelZoom: false,
      zoomControl: false
    }).fitBounds(bounds);

    // TODO: Draw a polygon representing the scene boundaries
    // This works as a standalone gist, but something about embedding it
    // inside this template is causing problems.
    // L.rectangle(bounds, {
    //  fillColor: 'red'
    //}).addTo(map);

  </script>
</div>
