<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Snapsat</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css'>
        <link rel='stylesheet' href='/static/main.css'>
        <link rel="icon" type="image/ico" href="/static/favicon.ico">
    </head>
    <body>
        {% block header %}
            <header class='contain'>
                <h1 class='mbn'><a href='/'>Snapsat</a> <span class='h3 red'>Beta</span></h1>
                <p class='blurb mbl'>The easiest way to create custom Landsat band composites.</p>
                <p class='light'>The Landsat 8 satellite gives us a way to see outside the spectrum of light we're typically accustomed to seeing. It's a means of seeing what would otherwise be invisible. And it does so on a global scale. AKA superpowers. If you're already up to date on how Landsat can give you useful information, continue on, otherwise, <a href='/guide'>check out our guide.</a></p>
            </header>
        {% endblock %}
        {% block content %}{% endblock %}

        <script src='/static/bundle.js'></script>
        <script src='/static/js/gauges.js'></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-61532630-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
