<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Snapsat — Custom Landsat band composites. In the Cloud!</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css'>
        <link rel='stylesheet' href='/static/main.css'>
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src='/static/bundle.js'></script>
        <script src='/static/js/gauges.js'></script>
    </body>
</html>
