<!DOCTYPE html>
<html class='no-js'>

  {% include 'includes/head.html' %}

  <body>
    <!--[if lt IE 9]>
    <p class='browserupgrade'>
      You are using an <strong>outdated</strong> browser. 
      Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->

    <div class='fixed full-width top-0 z3 bg-black'>
      <nav class='container clearfix mxn1 p1'>

        <div class='sm-col'>
          <a class='button button-narrow button-transparent white' href='/'>Snapsat</a>
        </div>

        <div class=sm-col-right>
          <a class='button button-narrow button-transparent white' href='/about'>About</a>
          <a class='button button-narrow button-transparent white' href='/guide'>Guide</a>
          <a class='button button-narrow bg-red white' href='/hire'>Hire us</a>
        </div>

      </nav>
    </div>

    {% block content %}{% endblock %}
    {% include 'includes/footer.html' %}
    <script src='/static/js/map.js'></script>
  </body>
</html>
