{% extends "base.jinja2" %}


{% block content %}

<section id='where' class='mbl'>
    <h2 class='mbn'>Select a location</h2>
    <p>The transparent boxes represent the bounds of the image you will create. Each region is uniquely defined by a Path and Row.</p>
    <div class='map-container'>
        <div id='map'>
            <span class="reticle bold red h3" rel="image_src"><img src='/static/logo-dark-red.svg'></span>
        </div>
    </div>
</section>

<section class='mbx'>
    <h2 class='mbn'>Select a date</h2>
    <p>Your location may be covered by overlapping regions, a Path and Row. Each region has multiple available dates. Typically, dates that have less cloud coverage are more useful.</p>
        
        
    <table class='column_titles'>
        <thead>

        </thead>
    </table>
    <div id='pathrowgrouping'>
        {% for group in scenes %}
        <div>
            <table>
                <thead class='group_head'>  
                    <tr>
                        <th class="light uppercase h2">Path-Row: {{ group[0].path}}-{{group[0].row}}</th><th></th><th></th><th></th><th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="date">Date acquired</th><th class="cloud">Cloud cover</th>
                    </tr>
                    {% for s in group %}
                    <tr>
                        <td class="datetbl"><a href='/scene/{{ s.entityid }}'>{{ s.acquisitiondate }}</a></td>
                        <td>{{ s.cloudcover }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block scripts %}
<script type='text/javascript' src='/static/js/map.js'></script>

{% endblock %}
