{% extends "base.jinja2" %}


{% block content %}

<section id='where' class='mbx'>
    <h2>Select a location</h2>
    <h4>Pro Tip: The transparent boxes are outlines of what your image will cover.</h4>
    <div class='map-container'>
        <div id='map'>
            <span class="reticle bold red h3"><img src='/static/logo-dark-red.svg'></span>
        </div>
    </div>
</section>

<section class='mbx'>
    <h2>Select your location by clicking on a date</h2>
    <h4>Pro Tip: Take the cloud cover into consideration</h4>
    <table class='column_titles'>
        <thead>

        </thead>
    </table>
    <div id='pathrowgrouping'>
        {% for group in scenes %}
        <div>
            <table>
                <thead class='group_head'>  
                    <tr>
                        <th class="light uppercase h2">Path-Row: {{ group[0].path}}-{{group[0].row}}</th><th></th><th></th><th></th><th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="date">Date acquired</th><th class="cloud">Cloud cover</th>
                    </tr>
                    {% for s in group %}
                    <tr>
                        <td class="datetbl"><a href='/scene/{{ s.entityid }}'>{{ s.acquisitiondate }}</a></td>
                        <td>{{ s.cloudcover }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block scripts %}
<script type='text/javascript' src='/static/js/map.js'></script>

{% endblock %}
