{% extends "base.jinja2" %}


{% block content %}
    <section id='guide-toc' class='mbx'>
        <h2>Table of contents</h2>
        <ol>
            <li><a href='#basics'>Basics</a></li>
            <li><a href='#bands'>Bands</a></li>
            <li><a href='#combinations'>Combinations</a></li>
            <li><a href='#snapsat'>Snapsat</a></li>
            <li><a href='#see-also'>See Also</a></li>
        </ol>
    </section>

    <section class='mbx'>
        <h2 id='basics'>Landsat</h2>
        <p>The Landsat 8 satellite was launched in February 11, 2013, continuing a. It measures a range of frequencies across the electromagnetic spectrum, a portion of which falls within what we percieve as visible light. However, that visible portion only accounts for less than half of the light collected by Landsat 8. Which leads us to a question... What's the purpose of capturing frequencies which we aren't able to see?</p>
    </section>

    <section class='mbx'>
        <h2 id='bands'>Bands</h2>
    </section>

    <section class='mbx'>
        <h2 id='combinations'>Combinations</h2>
    </section>
    <section class='mbx'>
        <h2 id='snapsat'>Snapsat</h2>
    </section>
    <section class='mbx'>
        <h2 id='see-also'>See Also</h2>
        <ol>
            <li>
                <p class='mbn'><a href='http://landsat.gsfc.nasa.gov/?page_id=7195'>Landsat 8 Overview</a></p>
                <p>Overview of things and stuff</p>
            </li>

            <li>
                <p class='mbn'><a href='https://www.youtube.com/watch?v=ONaJSkCpDhg'>Landsat 8 orbit</a></p>
                <p>Overview of things and stuff</p>
            </li>

            <li>
                <p class='mbn'><a href='https://www.mapbox.com/blog/putting-landsat-8-bands-to-work/'>Putting Landsat 8's Bands to Work</a></p>
                <p>Overview of things and stuff</p>
            </li>

            <li>
                <p class='mbn'><a href='http://earthobservatory.nasa.gov/Features/FalseColor/'>How to interpret a False-color image</a></p>
                <p>Overview of things and stuff</p>
            </li>
        </ol>
    </section>

{% endblock %}
