{% extends "base.jinja2" %}


{% block content %}
    <section id='guide-toc' class='mbx'>
        <h2>Table of contents</h2>
        <ol>
            <li><a href='#basics'>Basics</a></li>
            <li><a href='#bands'>Bands</a></li>
            <li><a href='#combinations'>Combinations</a></li>
            <li><a href='#snapsat'>Snapsat</a></li>
            <li><a href='#see-also'>See Also</a></li>
        </ol>
    </section>

    <section class='mbx'>
        <h2 id='basics' class="bold uppercase">Landsat</h2>
        <p>The Landsat 8 satellite was launched in February 11, 2013, continuing production of a global dataset of first begin in 1972. Each scene it captures measures roughly 180km2, and it captures around 550 scenes of the Earth daily. It's quite an impressive selfie.</p>
        <p>The satellite measure a range of frequencies across the electromagnetic spectrum, a portion of which falls within what we percieve as visible light. That visible portion only accounts for less than half of the light collected by Landsat 8. Which raises the question, what's the purpose of capturing frequencies which we aren't able to see?</p>
        <p>By taking segments of the electromagnetic spectrum and remapping them into one of the red, green, or blue wavelengths we're accustomed to seeing, Landsat gives us a means of visualizing what would otherwise be invisible. In short, Landsat gives us superpowers.</p>
    </section>

    <section class='mbx'>
        <h2 id='bands' class="bold uppercase">Bands</h2>
        <p>Each segment of the electromagnetic spectrum which Landsat 8 measures is called a band, of which there are 11 total.</p>

        <h3>Band 1</h3>
        <p>Landsat 8 is unique in that it is one of the few active satellites which can measure the high-energy blue and violet wavelengths between .435 and .451 nanometers. Those wavelengths have historically been hard to collect, as they're very easily scattered by dust and particulates in the air. Beccause Landsat is able to access them, it gives us a means of visualizing and quantifying the presence of smoke and haze, which can be useful for urban studies. Additionally, because the Ocean and living plants reflect blue's and violet's, Band 1 can be especially useful for measuring the health of the health of the oceans. As such, Band 1 is commonly referred to as the Coastal/Aerosol band.</p>

        <h3>Bands 2, 3, and 4</h3>
        <p>Bands 2, 3, and 4 respectively refer to the Blue, Green, and Red wavelengths of light.</p>

        <h3>Band 5</h3>
        <p>Band 5 encompasses the Near Infrared spectrum, which is particularly useful for visualizing the health of plants. Healthy plants heavily reflect the wavelengths of the near infrared, and bright imagery is almost always representative of healthy, vibrant plant communities. Band 5 is commonly referred to as the NIR band.</p>

        <h3>Band 6 and 7</h3>
        <p>Bands 6 and 7 are referred to as the Shortwave Infrared (SWIR) bands. Water heavily absorbs wavelengths in the SWIR spectrum, meaning that the more water there is, the darker the image will appear. As such, the SWIR bands are useful for determining the amount of water present in both the soil and in plant communities. In particular, the SWIR bands can be useful in delineating between different soil and mineral types.</p>
        <p>In addition, because the SWIR bands are so sensitive to water, they can be used to good effect in distinguishing between types of clouds, snow, and ice.</p>

        <h3>Band 8</h3>
        <p>Band 8 is unique in that it provides the highest resolution of all the Landsat 8 bands, which it does by capturing a much wider range of light that the others. Because it collects across so many wavelengths, it's commonly referred to as the Panchromatic band. Typically, Band 8 is used as a baselayer upon which other combinations can be layered, providing a means of creating more visibly crisp images than would otherwise be possible.</p>

        <h3>Band 9</h3>
        <p>Band 9 occupies a very narrow range of the electromagnetic spectrum, and is used primarily for identifying the very high-altitude cirrus clouds which typically indicate the arrival of preciptation.</p>

        <h3>Band 10 and 11</h3>
        <p>Up to this point, each of the bands we've mentioned has been derived from the Operation Land Imager (OLI) component of the Landsat 8 satellite. Band 10 and 11 are produced from a different piece of hardware called the Thermal Infrared Sensor (TIRS), which as you might expect, have something to do with measuring heat. Both of these bands measure the surficial heat, and are heavily affected by the presence of clouds.</p>
    </section>

    <section class='mbx'>
        <h2 id='combinations' class="bold uppercase">Combinations</h2>
    </section>

    <section class='mbx'>
        <h2 id='snapsat'>Snapsat</h2>
        <p>In the past, creating a custom Landsat 8 composite has required that users download the entirety of the scene they were interested in, configure the tools required to process them, and then hope that the output they got was what they intended to reproduce. Snapsat was created as a means of simplifying that process. Users are able to rapidly preview scenes and download full-size renders without having to take the time to download or configure anything.</p>
        <p>Creating a composite with Snapsat requires 4 simple steps:</p>
        <ol>
            <li>Select the location you're interested in.</li>
            <li>Select the date you're interested in.</li>
            <li>Preview your selection to make sure it's what you want.</li>
            <li>Download it.</li>
        </ol>
    </section>

    <section class='mbx'>
        <h2 id='see-also' class="bold uppercase">See Also</h2>
        <ol>
            <li>
                <p class='mbn'><a href='http://landsat.gsfc.nasa.gov/?page_id=7195'>Landsat 8 Overview</a></p>
                <p>Overview of things and stuff</p>
            </li>

            <li>
                <p class='mbn'><a href='https://www.youtube.com/watch?v=ONaJSkCpDhg'>Landsat 8 orbit</a></p>
                <p>Overview of things and stuff</p>
            </li>

            <li>
                <p class='mbn'><a href='https://www.mapbox.com/blog/putting-landsat-8-bands-to-work/'>Putting Landsat 8's Bands to Work</a></p>
                <p>Overview of things and stuff</p>
            </li>

            <li>
                <p class='mbn'><a href='http://earthobservatory.nasa.gov/Features/FalseColor/'>How to interpret a False-color image</a></p>
                <p>Overview of things and stuff</p>
            </li>
        </ol>
    </section>

{% endblock %}
