{% extends "base.jinja2" %}

{% block styles %}
<style>
    header {
        min-height: 500px;
        min-height: 100vh;
    }
    .selectscene {
        padding-top: 5%;
    }
    @media only screen and (max-width: 500px) {
        header {
            min-height: 500px;
        }
    }
</style>
{% endblock %}

{% block content %}
<div id='create' class='clearfix mt4'>
    <div class='col-8 mx-auto'>

        <!-- HEADING -->
        <div class='center mb4'>
            <h1 class='mb0 selectscene'>Select a Landsat scene</h1>
            <p class='h3'>What location on the Earth and what date are you interested in?<sup><a href="#fn:1" id="fnref:1"></a>&#8505;</a></sup></p>
        </div>
        

        <div class='center'>
            <!-- SELECT LOCATION -->
            <section id='where' class='mb4'>
                <h2>Select a location</h2>
                <p>Each square represents the boundaries of an individual Landsat image, uniquely identified by a Path-Row. The squares overlap and your selection may be covered more than one Path-Row.<sup><a href="#fn:2" id="fnref:2"></a>&#8505;</a></sup></p>
                <div class='map-container'>
                    <div id='map'>
                        <span class="reticle bold red h3"><img src='https://s3-us-west-2.amazonaws.com/snapsatstatic/static/img/Snapsat_logo_Icon_Red.svg'></span>
                    </div>
                </div>
            </section>


            <!-- SELECT DATE -->
            <section class='mb4'>
                <h2>Choose a date</h2>
                <p>Each Path-Row has multiple available dates. Typically, dates with less cloud cover are more useful. A sun-synchronous orbit means Landsat 8 passes over the same spot on Earth at about the same time, every time.<sup><a href="#fn:3" id="fnref:3"></a>&#8505;</a></sup></p>
                
                <div id='js-pathrowgrouping'>
                    {% for group in scenes %}
                    <div>
                        <h3>
                            Path: <span class='bold'>{{ group[0].path }}</span>
                            Row: <span class='bold'>{{ group[0].row }}</span>
                            Time: <span class='bold'>~{{ group[0].average_time }} UTC</span>
                        </h3>
                        <table class="table-hover mx-auto">
                            <tr>
                                <th>Date</th>
                                <th class='regular gray'>Cloud Cover</th> 
                            </tr>
                            {% for s in group %}
                                <tr class="hover" onclick="location.href = '/scene/{{ s.entityid }}';">
                                    <th>{{ s.acquisitiondate }}</th>
                                    <th class='regular gray'>{{ s.cloudcover }}%</th> 
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        {% endblock %}

        {% block scripts %}
        <script type='text/javascript' src='/static/js/map.js'></script>
        {% endblock %}
