<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Snapsat, where wondering becomes knowing</title>
        <!-- Load CSS -->
        <link rel='stylesheet' href='/static/main.css'>
        <!-- Load jQuery library -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Load js -->
        <script type="text/javascript" src="/static/js/custom.js"></script>
    </head>
    <!-- Start Body -->
    <body>	
        <!-- Start Menu -->
        <div class="menubar" data-scroll="true">
            <!-- <a href="#" class="logo"></a> -->
            <ul class="mainmenu">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#mission">Mission</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#thanks">Special Thanks</a></li>
                <li><a href="#contact">Contact us</a></li>
                <li><a href="/create">Create</a></li>
            </ul>
        </div>
        <!-- End Menu -->
        <!-- Start Home -->
        <a class="scroll" id="home"></a>
        <div class="home hero">
            <!-- <div class="overlay"></div> -->
            <div class="herowrapper">
                <h1 class="landingbuttons"><a href='/create'>Get started<span class='h3 red uppercase'>Beta</span></a></h1>
                <h1 class="landingbuttonhowto"><a href='/guide'>Snapsat How To</a></h1>
            </div>
            <a href="javascript:void(0);" class="scrolldown">
                <h3>More about Snapsat</h3>
                <h3>&#9660;</h3>
            </a>
        </div>
        <!-- End Home -->
        <!-- Start BlockQuote -->
        <div class="blockquote main bold">
            <blockquote>The Earth is a big place. But not to us.</blockquote>
        </div>
        <!-- End BlockQuote -->
        <!-- Start Section Divider -->
        <div class="section divider">
            <h2>Our Mission</h2>
            <a class="scroll" id="mission"></a>

        </div>
        <!-- End Section Divider -->
        <!-- Start Content -->
        <div class="content">
            <p class="mission" id="landing">Here at Snapsat, our mission is to take the freely availible Landsat images, generously provided by Amazon, and deliver them to you in a fast, reliable, easy-to-use format.</p>
        </div>
        <!-- End Content -->
        <!-- Start Section Divider -->
        <div class="section divider" id="about">
            <h2>Our Team</h2>
            <a class="scroll" id="about"></a>
        </div>
        <!-- End Section Divider -->

        <!-- Start Content -->
        <div class="content">


            <!-- Start Person Block -->
            <p style="position:relative;"><a name="anchor" id="constantine" style="position:absolute; top:-100px;"></a></p>
            <div class="person">
                <img src="http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/constantine.jpg">
                <div class="info">
                    <h2>Constantine Hatzis</h2>
                    <p>Mechanical/aerospace engineer and perpetual student turned Python developer.</p>
                    <a href="https://www.linkedin.com/in/constantinedhatzis/en" class="socialicon linkedin"></a>
                    <a href="https://github.com/constanthatz" class="socialicon github"></a>
                </div>
            </div>
            <!-- Clear :) -->
            <div class="clear"></div>
            <!-- End Person Block -->

            <!-- Start Person Block -->
            <p style="position:relative;"><a name="anchor" id="jacques" style="position:absolute; top:-100px;"></a></p>
            <div class="person">
                <img src="http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/jacques.jpg">
                <div class="info">
                    <h2>Jacques Tardie</h2>
                    <p>Geospatial developer.</p>
                    <a href="https://github.com/jacquestardie" class="socialicon github"></a>
                    <a href="http://twitter.com/jqtrde" class="socialicon twitter"></a>
                </div>
            </div>
            <!-- Clear :) -->
            <div class="clear"></div>
            <!-- End Person Block -->

            <!-- Start Person Block -->
            <p style="position:relative;"><a name="anchor" id="jake" style="position:absolute; top:-100px;"></a></p>
            <div class="person">
                <img src="http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/jake.jpg">
                <div class="info">
                    <h2>Jake Anderson</h2>
                    <p>Baker turned developer, I am passionate about making the world a better place with the use of technology. I am excited to be a part of Snapsat and am looking forward to growing my skills and creating even more tools to facilitate learning and discovering. Please don’t hesitate to check out my linkedIn and follow me on Twitter.</p>
                    <a href="https://www.linkedin.com/in/jakeand3rson/en" class="socialicon linkedin"></a>
                    <a href="https://github.com/jakealope" class="socialicon github"></a>
                    <a href="https://twitter.com/jakeand3rson" class="socialicon twitter"></a>
                </div>
            </div>
            <!-- Clear :) -->
            <div class="clear"></div>
            <!-- End Person Block -->

            <!-- Start Person Block -->
            <p style="position:relative;"><a name="anchor" id="joel" style="position:absolute; top:-100px;"></a></p>
            <div class="person">
                <img src="http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/joel.jpg">
                <div class="info">
                    <h2>Joel Stanner</h2>
                    <p>Python developer with a focus on web frameworks. 5 years experience with web development including Wordpress and, more recently, Django frameworks. Currently I am expanding my knowledge of the Python programming language and employing it in the Django and Pyramid web frameworks.<br>
                    18 years experience with audio engineering, primarily on the ProTools platform. I work best with creative projects that involve audio, but I also enjoy problem solving and building software to solve those problems.<br>
                    Specialties: Python and Wordpress web frameworks. Sound design for radio, television, and web.</p>
                    <a href="https://www.linkedin.com/in/joelstanner" class="socialicon linkedin"></a>
                    <a href="https://github.com/poolbath1" class="socialicon github"></a>
                    <a href="https://twitter.com/joelstanner" class="socialicon twitter"></a>
                </div>
            </div>
            <!-- Clear :) -->
            <div class="clear"></div>
            <!-- End Person Block -->

            <!-- Start Person Block -->
            <p style="position:relative;"><a name="anchor" id="mark" style="position:absolute; top:-100px;"></a></p>
            <div class="person">
                <img src="http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/mark.jpg">
                <div class="info">
                    <h2>Mark Saiget</h2>
                    <p>I am a full-stack developer with a strong background in Python. I enjoy working with talented individuals to create elegant code. I find that I am most proud of projects that utilize creative solutions to difficult problems. My former career, as a scientist, focused on poking holes in ideas before testing/production. I've leveraged this skill in test-driven development, where I'm able to write thorough tests and, ultimately, produce a better final product. I pay attention to details, but always ask how it affects the big picture.<br>
                    I'd love to work on a team that values results and creativity.</p>
                    <a href="https://www.linkedin.com/in/marksaiget/en" class="socialicon linkedin"></a>
                    <a href="https://github.com/bm5w" class="socialicon github"></a>
                </div>
            </div>
            <!-- Clear :) -->
            <div class="clear"></div>
            <!-- End Person Block -->

        </div>
        <!-- End Content -->
        <!-- Start Section Divider -->
        <div class="section divider">
            <h2>Special Thanks</h2>
            <a class="scroll" id="thanks"></a>
        </div>
        <!-- End Section Divider -->
        <!-- Start Content -->
        <div class="content" id="thanks">
            <p id="landing">We would like to extend a special thanks to all the incredible support, tools, packages, and advice we have received from the following people and companies. We would like to specifically thank Amazon for making all of this data open and availible for us to utilize.</p>
            <ol class="thanks">
                <li><a href="http://aws.amazon.com/s3/">Amazon S3</a></li>
                <li><a href="http://aws.amazon.com/rds/">Amazon RDS</a></li>
                <li><a href="http://aws.amazon.com/sqs/">Amazon SQS</a></li>
                <li><a href="http://aws.amazon.com/">Amazon Web Services</a></li>
                <li><a href="http://www.ansible.com/home">Ansible</a></li>
                <li><a href="https://www.codefellows.org/">Code Fellows</a></li>
                <li><a href="http://crisewing.com/">Cris Ewing</a></li>
                <li><a href="https://raw.githubusercontent.com/jacquestardie/gifs/master/baby.gif">Little Worker</a></li>
                <li><a href="http://www.postgresql.org/">Posgresql</a></li>
                <li><a href="http://postgis.net/">Postgis</a></li>
                <li><a href="http://www.pylonsproject.org/">Pyramid</a></li>
                <li><a href="http://www.sqlalchemy.org/">SQLAlchemy</a></li>
            </ol>
        </div>
        <!-- End Content -->
        <!-- Start Section Divider -->
        <div class="section divider">
            <h2>Contact Us</h2>
            <a class="scroll" id="contact"></a>
        </div>
        <!-- End Section Divider -->
        <!-- Start Content -->
        <div class="content" id="contact">
            <p id="landing">If you would like to contact us please feel free to hit us up on <a href="https://twitter.com/therealsnapsat">Twitter</a><br> or email us at <a href="mailto:snapsat@snapsat.com">Snapsat@snapsat.com</a></p>
        </div>
        <!-- End Content -->
        <footer class="footer">
            <h6>© Copyright 2015 | Snapsat</h6>
    </footer>

</body>
</html>
