{% extends "base.jinja2" %}

{% block scripts %}
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script type='text/javascript' src='/static/js/spectrum_bars.js'></script>
    <script type='text/javascript' src='/static/js/longpoll.js'></script>
{% endblock %}

{% block content %}
    {% include 'includes/your-selection.html' %}
    {% include 'includes/generate-image.html' %}
{% endblock %}
