

/* Define colors */

:root {
	--black: #000;
	--white: #FFF;

	--grey: #EEE;
	--grey-light: #AAA;
	--grey-lightest: #f4f4f4;
	--grey-dark: #444;
	--grey-darkest: #222;

	--blue: #0074D9;
	--blue-light: #64a8ff;
	--blue-lightest: #a2dfff;
	--blue-dark: #0045a1;
	--blue-darkest: #002f86;

	--yellow: #fff93c;
	--yellow-light: #fffa60;
	--yellow-lightest: #fffca6;
	--yellow-dark: #e2c100;
	--yellow-darkest: #c4a600;

	--red: #d82c2c;
	--red-light: #f94f44;
	--red-lightest: #ff6c5c;
	--red-dark: #bd001a;
	--red-darkest: #9d0003;
}


/* Foreground colors */

.black { color: var(--black); }
.white { color: var(--white); }

.grey { color: var(--grey); }
.grey-light { color: var(--grey-light); }
.grey-lightest { color: var(--grey-lightest); }
.grey-dark { color: var(--grey-dark); }
.grey-darkest { color: var(--grey-darkest); }

.blue { color: var(--blue); }
.blue-light { color: var(--blue-light); }
.blue-lightest { color: var(--blue-lightest); }
.blue-dark { color: var(--blue-dark); }
.blue-darkest { color: var(--blue-darkest); }

.yellow { color: var(--yellow); }
.yellow-light { color: var(--yellow-light); }
.yellow-lightest { color: var(--yellow-lightest); }
.yellow-dark { color: var(--yellow-dark); }
.yellow-darkest { color: var(--yellow-darkest); }

.red { color: var(--red); }
.red-light { color: var(--red-light); }
.red-lightest { color: var(--red-lightest); }
.red-dark { color: var(--red-dark); }
.red-darkest { color: var(--red-darkest); }


/* Background colors */

.bg-black { background: var(--black); }
.bg-white { background: var(--white); }

.bg-grey { background: var(--grey); }
.bg-grey-light { background: var(--grey-light); }
.bg-grey-lightest { background: var(--grey-lightest); }
.bg-grey-dark { background: var(--grey-dark); }
.bg-grey-darkest { background: var(--grey-darkest); }

.bg-blue { background: var(--blue); }
.bg-blue-light { background: var(--blue-light); }
.bg-blue-lightest { background: var(--blue-lightest); }
.bg-blue-dark { background: var(--blue-dark); }
.bg-blue-darkest { background: var(--blue-darkest); }

.bg-yellow { background: var(--yellow); }
.bg-yellow-light { background: var(--yellow-light); }
.bg-yellow-lightest { background: var(--yellow-lightest); }
.bg-yellow-dark { background: var(--yellow-dark); }
.bg-yellow-darkest { background: var(--yellow-darkest); }

.bg-red { background: var(--red); }
.bg-red-light { background: var(--red-light); }
.bg-red-lightest { background: var(--red-lightest); }
.bg-red-dark { background: var(--red-dark); }
.bg-red-darkest { background: var(--red-darkest); }
