@import 'mapbox.css';
@import 'normalize.css';
@import 'reset.css';
@import 'color.css';
@import 'spacing.css';
@import 'typography.css';
@import 'links.css';
@import 'lists.css';
@import 'tables.css';
@import 'layout.css';
@import 'buttons.css';
@import 'flexbox.css';
@import 'style.css';


:root {
    /* --copy-font-weight: ; */
    /* --heading-font-color: ; */
    /* --heading-font-weight: ; */

	--copy-font: freight-sans-pro, verdana, arial, sans-serif;
	--copy-font-color: #666;
	--link-color: black;
	--link-color-hover: #d82c2c;
}

body {
    font-size: 18px;
    font-family: var(--copy-font);
}

.sans { font-family: var(--copy-font); }
.serif { font-family: var(--heading-font); }

h1 { font-size: 4rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.4rem; }

td > a { font-weight: normal; }

.map-container{
    position: relative;
    min-height: 500px;
    min-height: 500px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.reticle {
  position: absolute;
  top: calc(49% - 50px);
  left: calc(49% - 50px);
  z-index: 100;
}

#possibilities > div {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

#resources ul { padding-left: 0; }
#resources ul li { display: inline }

th {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 300;
}

.blurb {
    font-size: 120%;
}

td a { color: black; }
td a:hover { color: #d82c2c; }

.image {
    position: relative;
}

.bands {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 3rem;
    color: rgba(255,255,255,0.8)
}

header {
    margin: 3rem 0;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 30%;
    padding: 2rem 4rem;
}

.contain {
    margin-left: 30%;
    margin-top: 3%;
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
}

.preview-container > div {
    max-width: 30%;
    min-width: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.attribution {
    font-size: 90%;
    padding-top: 1%;
}

.group_head {
    border-top:1rem solid #FFF;
} 

#guide {
    font-weight: bolder;
    font-size: 15px;
} 

.band-red { color: red; }
.band-green { color: green; }
.band-blue { color: blue; }

.graph {
    position: relative;
    top: 6px;
}
.proversion {
    padding-top: 5%;
    padding-bottom: 3%;
    font-weight: bolder;

}
.newsletter {
    padding: 1.5%;
    background-color: #FFF;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    float: center;
    border: solid 2px #000;
}

.mbx h3 {
    padding:1%;
}

.cheatsheet {
    margin-top: 10%;
    padding-bottom: 10%;

}
.cheats  {
    width: 15em;
    padding-bottom:10px;
    padding-left: 1em;
    padding-top: .5em;
    overflow: scroll;
    height: 15em;
    border: solid 1px #000; 
    border-radius: 5px;
}
.cheats li {
    padding: 5%;
    border-bottom: solid 1px #000;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.display-inline-block {
    vertical-align: top;
}

select {
    height: 1.5rem;
}
