
@import 'normalize.css';
@import 'reset.css';
@import 'color.css';
@import 'spacing.css';
@import 'typography.css';
@import 'links.css';
@import 'lists.css';
@import 'tables.css';
@import 'layout.css';
@import 'flexbox.css';
@import 'style.css';
@import 'webfont.css';



:root {

	/* --copy-font:	; */
	/* --copy-font-weight: ; */
	--copy-font-color: #666;
	--heading-font: "adriane" ;
	/* --heading-font-color: ; */
	/* --heading-font-weight: ; */
	--link-color: black;
	--link-color-hover: #d82c2c;
}

.sans { font-family: var(--copy-font); }
.serif { font-family: var(--heading-font); }

h1 { font-size: 4rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.4rem; }

td > a { font-weight: normal; }


.preview-container, 
.map-container{
    position: relative;
    min-height: 500px;
    min-height: 500px;
}

#preview,
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


.reticle {
  position: absolute;
  top: calc(49% - 50px);
  left: calc(49% - 50px);
  z-index: 100;
}

#possibilities > div {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

#resources ul { padding-left: 0; }
#resources ul li { display: inline }

th {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 300;
}

.blurb {
    font-size: 110%;
}

td a { color: black; }
td a:hover { color: #d82c2c; }

.image {
    position: relative;
}

.bands {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 3rem;
    color: rgba(255,255,255,0.8)
}

header {
    margin: 3rem 0;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 30rem;
    padding: 2rem 4rem;
}

.contain {
    margin-left: 30rem;
    margin-top: 3rem;
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
}

.preview-container > div {
    max-width: 30%;
    min-width: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.attribution {
    font-size: 90%
}

.group_head {
    border-top:1rem solid #FFF;
} 

#guide {
    font-weight: bolder;
    font-size: 15px;
} 

.band-red { color: red; }
.band-green { color: green; }
.band-blue { color: blue; }

.graph {
    position: relative;
    top: 6px;
}
.newsletter {
    font-size: 15px;
    font-weight: bold;
}

.mbx h3 {
    padding:1%;
}

.mbx p {
    font-size: 15px;
}
