/* Custom Media Queries */
@custom-media --small (min-width: 0rem);
@custom-media --medium (min-width: 40rem);
@custom-media --large (min-width: 52rem);


/* Responsive padding */
/* As viewport size increases, increase body padding */
body { padding: 1em; }
@media (--medium) { body { padding: 2rem; } }
@media (--large) { body { padding: 4rem; } }


/* Container */
.container { max-width: var(--container-width); }
.center { margin: 0 auto; }


/* Display */
.display-block { display: block; }
.display-inline { display: inline; }
.display-inline-block { display: inline-block; }


/* Alignment */
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }


/* Default variables */
:root {
	--container-width: 40rem;
}
