body {
    margin: 0;
    padding: 0;
}

/* Container */
.container { max-width: var(--container-width); }
.center { margin: 0 auto; }


/* Display */
.display-block { display: block; }
.display-inline { display: inline; }
.display-inline-block { display: inline-block; }


/* Alignment */
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }


/* Default variables */
:root {
	--container-width: 40rem;
}
