
/* Unordered list elements will display circles */
ul li { 
	list-style-type: circle; 
}

/* Ordered list elements will display capitalize Roman numerals */
ol li {
	list-style-type: upper-roman;
}

/* Hide list elements */
.list-style-none { 
	list-style-type: none;
}

/* Hanging lists */
/* As per http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2 */
.hanging {
	padding-left: 0;
}

