@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);								
									
/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
html, body {
	width: 100%;
	height: 100%;
	letter-spacing: 0.025em;
	-webkit-font-smoothing: subpixel-antialiased;
}
/******************************************************************
	General
******************************************************************/								
a {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 8pt;
	color: #616161;
}
a:hover {
	color: #6093e7;
}
p {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 12px;
}
h1 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 40px;
}
h2 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 20px;
}
h3 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 18px;
}
h4 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 16px;
}
h6 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 12px;
}
.clear {
	clear: both;
}
blockquote {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	font-size: 28px;
	line-height: 60px;
	width: 100%;
	background-color: #f6f6f6;
	height: 100px;
	text-align: center;
	padding: 1.1%;
	color: #616161;
	font-weight: 300;
	font-style: italic;
}
blockquote:before {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
blockquote:after {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
#landing {
	text-align: center;
	max-width: 100%;
}
/******************************************************************
	Menu
******************************************************************/
.menubar {
	position: fixed;
	top: 0px;
	height: 80px;
	width: 100%;
	z-index: 9999;
	background-color: #FFF;
	margin-top: -80px;
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
ul.mainmenu {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	float: right;
	margin: 0px 40px 0px 0px;
	text-transform: uppercase;
	font-weight: 300;
}
ul.mainmenu li {
	cursor: pointer;
	display: inline-block;
	padding: 30px 10px 31px 10px;
}
ul.mainmenu li a {
	font-size: 12px;
	color: #838282;
	-webkit-transition: color 400ms ease;
	-moz-transition: color 400ms ease;
	-o-transition: color 400ms ease;
	-ms-transition: color 400ms ease;
	transition: color 400ms ease;
}
ul.mainmenu li:hover a {
	color: #6093e7;
}
ul.mainmenu li.active a {
	font-weight: bold;
	color: #6093e7;
}
.menuB {
	float: left;
}

/******************************************************************
	Colors
******************************************************************/
.light-gray {
	color: #cfcfcf;
}

/******************************************************************
	Main
******************************************************************/
.content {
	max-width: 960px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
div.section.divider {
	width: 100%;
	height: 40px;
	border-top: 1px solid #6093e7;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}
div.section.divider h2 {
	font-weight: 400;
	color: #6093e7;
	background-color: #FFF;
	margin-top: -20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	text-transform: uppercase;
}
a.scroll {
	width: 100%;
	display: block;
}
div.icon {
	font-size: 80px;
	color: #FFF;
}

/******************************************************************
	Hero Images
******************************************************************/
.hero {
	width: 100%;
	height: 100%;
}
.home.hero {
	background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/background.jpg);
	background-size: cover;
}
.overlay {
	/*background-image: url(../img/overlay_light_diagonal.png);*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
}
.herowrapper {
	position: absolute;
	top: 50%;
	height: 40px;
	margin-top: -40px;
	width: 100%;
}
.herowrapper h1 {
	text-align: center;
	color: #FFF;
	font-size: 40px;
	font-weight: 500;
	text-shadow: 4px 4px 8px #000;
}
.herowrapper h1 a {
	text-align: center;
	color: #FFF;
	font-size: 40px;
	font-weight: 500;
	text-shadow: 4px 4px 8px #000;
	
}
a.scrolldown {
	display: block;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.scrolldown .icon {
	font-size: 20px;
	text-align: center;
}
.scrolldown h3 {
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 200;
	text-shadow: 4px 4px 8px #000;
}
/******************************************************************
	Mission
******************************************************************/
.mission {
	text-align: center;
	padding: 5%;
	font-size: 1em;
}
/******************************************************************
	Special Thanks
******************************************************************/
#thanks p {
	text-align: center;
    padding: 5%;
    font-size: 1em;

}
.thanks li{
    text-align: center;
    list-style-type: none;
    padding: 1%;
}
.thanks a {
	text-align: center;
	font-size: 1em;

}

/******************************************************************
	About Us
******************************************************************/
div.person {
	width: 920px;
	margin: 20px auto;
}
div.person img {
	width: 250px;
	height: 250px;
}
div.person div.info {
	width: 520px;
	float: right;
	padding: 0px 30px;
}
a.socialicon {
	background-repeat: no-repeat;
	display: inline;
	width: 30px;
	height: 30px;
	float: left;
	margin: 20px 10px 0px 0px;
}
a.socialicon.linkedin {
	/*background-position: 0px 0px;*/
	background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/linkedin.png);
}
a.socialicon.linkedin:hover {
	/*background-position: 0px -30px;*/
	background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/linkedin.png);
}

a.socialicon.github {
	/*background-position: -30px 0px;*/
	background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/gitHub.png);
}
a.socialicon.github:hover {
	/*background-position: -30px 0px;*/
	background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/gitHub.png);
}
a.socialicon.twitter {
	margin-top: 4.5%;
	background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/Twitter.png);
}
a.socialicon.twitter:hover {
	background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/Twitter.png);
}
/******************************************************************
	Contact us
******************************************************************/
#contact p{
	text-align: center;
	padding: 15%;
	font-size: 1em;
}
#contact a{
	font-size: 1.2em;
}
/******************************************************************
	Footer
******************************************************************/
.footer {
	width: 100%;
	margin-top: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #6093e7;
}
.footer h6 {
	line-height: 50px;
	color: #FFF;
}

