@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@charset "UTF-8";
/*THIS PAGE IS STYLING FOR THE LANDING PAGE PRIMARILY*/

/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow-x: hidden;
}
html, body {
	width: 100%;
	height: 100%;
	letter-spacing: 0.025em;
	-webkit-font-smoothing: subpixel-antialiased;
}
/******************************************************************
	General
******************************************************************/								
.clear {
	clear: both;
}
blockquote {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	font-size: 28px;
	line-height: 60px;
	/*width: 100%;*/
	background-color: #f6f6f6;
	height: 100px;
	text-align: center;
	padding: 1.1%;
	color: #616161;
	font-weight: 300;
	font-style: italic;
}
blockquote:before {
	content: '"';
	font-size: 36px;
}
blockquote:after {
	content: '"';
	font-size: 36px;
}
#landing {
	text-align: center;
	max-width: 100%;
}
/******************************************************************
	Menu
******************************************************************/
.menubar {
	position: fixed;
	top: 0px;
	height: 80px;
	width: 100%;
	opacity: .75;
	/*z-index: 9999;*/
	background-color: #FFF;
	/*margin-top: -80px;*/
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
ul.mainmenu {
	display: inline-block;
	float: right;
	width: 95%;
	margin: 0px 40px 0px 0px;
	text-transform: uppercase;
	font-weight: 300;
}
ul.mainmenu li {
	cursor: pointer;
	display: inline-block;
	padding: 30px 10px 31px 10px;
}
ul.mainmenu li a {
	font-size: 12px;
	color: #000;
	-webkit-transition: color 400ms ease;
	-moz-transition: color 400ms ease;
	-o-transition: color 400ms ease;
	-ms-transition: color 400ms ease;
	transition: color 400ms ease;
}
ul.mainmenu li:hover a {
	color: #6093e7;
}
ul.mainmenu li.active a {
	font-weight: bold;
	color: #6093e7;
}
.mainmenu img {
	float: left;
	height: 99%;
	padding-right: 20%;
}
.landingbuttons {
	background-color: #FFF;
	text-align: center;
	width:25%;
	border-radius: 25px;
	opacity: .8;
	margin-bottom: 20px;
	float: center;
	border: solid 2px #000;
	box-shadow: 3px 3px 3px #000;
}
.landingbuttons:hover {
	box-shadow: 1px 1px 3px #000;
	opacity: .7;
}
.landingbuttonhowto {
	background-color: #FFF;
	text-align: center;
	width:25%;
	border-radius: 25px;
	opacity: .8;
	margin-bottom: 20px;
	float: center;
	border: solid 2px #000;
	box-shadow: 3px 3px 3px #000;
}
.landingbuttonhowto:hover {
	box-shadow: 1px 1px 3px #000;
	opacity: .7;
}

/******************************************************************
	Colors
******************************************************************/
.light-gray {
	color: #cfcfcf;
}

/******************************************************************
	Main
******************************************************************/
.content {
	max-width: 960px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
div.section.divider {
	width: 100%;
	height: 40px;
	border-top: 1px solid #6093e7;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}
div.section.divider h2 {
	font-weight: 400;
	color: #6093e7;
	background-color: #FFF;
	margin-top: -20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	text-transform: uppercase;
}
a.scroll {
	width: 100%;
	display: block;
}
div.icon {
	font-size: 100px;
	color: #FFF;
}

/******************************************************************
	Hero Images
******************************************************************/
.hero {
	width: 100%;
	height: 100%;
}
.home.hero {
	background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/background.jpg);
	background-size: cover;
}
.herowrapper {
	position: absolute;
	padding: 3%;
	top: 45%;
	left:35%;
	height: 40px;
	margin-top: -40px;
	width: 100%;
	display: block;	
}
.herowrapper h1 {
	text-align: center;
	color: #FFF;
	font-size: 40px;
	font-weight: 500;
}
.herowrapper h1 a {
	text-align: center;
	color: #000;
	font-size: 40px;
	font-weight: 500;
}
a.scrolldown {
	display: block;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 25;
	cursor: pointer;
}
.scrolldown .icon {
	font-size: 20px;
	text-align: center;
}
.scrolldown h3 {
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 200;
	text-shadow: 4px 4px 8px #000;
}
/******************************************************************
	Mission
******************************************************************/
.mission {
	text-align: center;
	padding: 5%;
	font-size: 1em;
}
/******************************************************************
	Special Thanks
******************************************************************/
#thanks p {
	text-align: center;
    padding: 5%;
    font-size: 1em;

}
.thanks li{
    text-align: center;
    list-style-type: none;
    padding: 1%;
}
.thanks a {
	text-align: center;
	font-size: 1em;

}

/******************************************************************
	About Us
******************************************************************/
div.person {
	width: 920px;
	margin: 20px auto;
}
div.person img {
	width: 200px;
	height: 200px;
	margin-top: 2%;
}
div.person div.info {
	width: 520px;
	float: right;
}
a.socialicon {
	background-repeat: no-repeat;
	display: inline;
	width: 30px;
	height: 30px;
	float: left;
	margin: 20px 10px 0px 0px;
}
a.socialicon.linkedin { background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/linkedin.png); }
a.socialicon.linkedin:hover { background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/linkedin.png); }
a.socialicon.github { background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/gitHub.png); }
a.socialicon.github:hover { background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/gitHub.png); }
a.socialicon.twitter {
	margin-top: 4.5%;
	background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/Twitter.png);
}
a.socialicon.twitter:hover { background-image: url(http://snapsatstatic.s3-us-west-2.amazonaws.com/static/img/Twitter.png); }

/******************************************************************
	Contact us
******************************************************************/
#contact p {
	text-align: center;
	padding: 5%;
	font-size: 1em;
}
#contact a {
	font-size: 1.2em;
}
/******************************************************************
	Footer
******************************************************************/
.footer {
	width: 100%;
	margin-top: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #6093e7;
}
.footer h6 {
	line-height: 50px;
	color: #FFF;
}
