/* Copied from jxnblk/basscss-base-tables */

table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
    width: 100%;
}

th {
	text-align: left;
	font-weight: var(--font-weight-bold);
}

th,
td {
	line-height: inherit;
}

th { vertical-align: bottom; }
td { vertical-align: top; }

tr {
	border-bottom: 2px solid #f4f4f4; 
}
.date {
    width: 32.6%;
}
.pathrow {
    width: 5.5%;
}
.cloud {
    width: 12%;
}

