
/* Improve legibility */
html {
	text-rendering: optimizeLegibility;
	font-feature-settings: kern;
}


/* Set standard typographic style */
body {
	font-size: var(--ms0);
	font-family: var(--copy-font);
	font-weight: var(--copy-font-weight);
	color: var(--copy-font-color);
	line-height: var(--line-height);
}


/* Fluid typography */
/* As the viewport size increases, the font-size becomes larger. */
/* html { font-size: 15px; } */
/* @media screen and (min-width: 40rem) { html { font-size: 16px; }} */
/* @media screen and (min-width: 50rem) { html { font-size: 17px; }} */
/* @media screen and (min-width: 60rem) { html { font-size: 18px; }} */


/* Set default heading styles */
/* Font-sizes defined according to a typographic scale */
h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color: var(--heading-font-color);
	font-weight: var(--heading-font-weight);
	margin: 0 0 1rem;
}

h1, .h1 { font-size: var(--ms3); }
h2, .h2 { font-size: var(--ms2); }
h3, .h3 { font-size: var(--ms1); }
h4, .h4 { font-size: var(--ms0); }
h5, .h5 { font-size: var(--ms0); }
h6, .h6 { font-size: var(--ms0); }


/* Set default paragraph styles */
p {
	font-size: var(--ms0);
	max-width: var(--container-width);
	margin: 0 0 1rem 0;
}


/* Set default blockquote styles */
blockquote {
	font-style: italic;
	font-size: var(--ms0);
}


/* Typographic utility classes */
.light	    { font-weight: var(--font-weight-light); }
.book		{ font-weight: var(--font-weight-book); }
.medium		{ font-weight: var(--font-weight-medium); }
.semibold	{ font-weight: var(--font-weight-semibold); }
.bold		{ font-weight: var(--font-weight-bold); }
.black		{ font-weight: var(--font-weight-black); }
.uppercase	{ text-transform: uppercase; }
.italic		{ font-style: italic; }


/* Define default variables */
:root {

	--ms3:		                1.777778rem;
	--ms2:					    1.333333rem;
	--ms1:						1rem;
	--ms0:						1rem;

	--copy-font:				freight-sans-pro, 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
	--copy-font-weight:			var(--font-weight-book);
	--copy-font-color:			#444;

	--heading-font:				var(--copy-font);
	--heading-font-color:		#222;
	--heading-font-weight:	    var(--font-weight-medium);

	--monospace-font:			Consolas;
	
	--line-height:				1.5;

	--container-width:			40rem;

	--font-weight-light:		300;
	--font-weight-book:			400;
	--font-weight-medium:		500;
	--font-weight-semibold:     600;
	--font-weight-bold:			700;
	--font-weight-black:		900;
}
