<footer class='white bg-black clearfix mt4'>
    <div class='px2 py3 container'>
        <div class='clearfix p2'>
            <div class='gray clearfix'>
                <h2>Built by:</h2>
                <div class='left p2 center'>
                    <h3 class='mb0'>Jacques Tardie</h3>
                    <p class='mb0'>Geospatial developer.</p>
                    <a href='https://twitter.com/jqtrde'><i class='ss-icon'>Twitter</i></a>
                    <a href='https://github.com/jacquestardie'><i class='ss-icon'>Github</i></a>
                    <a href='https://linkedin.com/in/jacquestardie'><i class='ss-icon'>LinkedIn</i></a>
                </div>
                <div class='left p2 center'>
                    <h3>Mark Saiget</h3>
                </div>
                <div class='left p2 center'>
                    <h3>Constantine Hatzis</h3>
                </div>
                <div class='left p2 center'>
                    <h3>Joel 'Grandpa' Stanner</h3>
                </div>
                <div class='left p2 center'>
                    <h3>Jake Anderson</h3>
                </div>
            </div>
            <div class='gray clearfix'>
                <h2>Built with:</h2>
                <ul class='list-reset'>
                    <li><a href='https://aws.amazon.com' class='h5 button block button-transparent left'>Amazon Web Services</a></li>
                    <li><a href='http://www.ansible.com/home' class='h5 button block button-transparent left'>Ansible</a></li>
                    <li><a href='http://postgis.net/' class='h5 button block button-transparent left'>PostGIS</a></li>
                    <li><a href='http://www.pylonsproject.org/' class='h5 button block button-transparent left'>Pyramid</a></li>
                    <li><a href='https://github.com/developmentseed/landsat-util' class='h5 button block button-transparent left'>Landsat-util</a></li>
            </div>
            <div class='gray clearfix'>
                <h2>Special thanks to:</h2>
                <ul class='list-reset'>
                    <li><a href='https://twitter.com/jedsundwall' class='h5 button block button-transparent left'>Jed Sundwall</a></li>
                    <li><a href='https://twitter.com/crisewing' class='h5 button block button-transparent left'>Cris Ewing</a></li>
                    <li><a href='https://developmentseed.org/team/' class='h5 button block button-transparent left'>The fine people at Developmentseed</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
