<div class="footnotes">
    <hr>
    <ol>
        <li id="fn:1">
            <p class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
            <p class="left-align">A Landsat <strong>scene</strong> is the combination of a location and a date.</p>
        </li>
        <li class="footnote" id="fn:2">
            <p class="left-align">Landsat data is annotated using the <a href='http://landsat.gsfc.nasa.gov/?p=3231'>The Worldwide Reference System (WRS)</a>. The WRS specifies the location on Earth of the center of every image with a <strong>path</strong> and <strong>row</strong>. The path references the orbital track of the satellite. The row references latitude.</p>
            <p>Landsat 8 uses WRS-2, first created for Landsat 4. It divides the Earth into 233 paths and 248 rows.</p>
        </li>
        <li class="footnote" id="fn:3">
            <p class="left-align">Landsat 8 passes over the same spot on Earth at the same time, every time, because it maintains a near-polar, <a href='http://en.wikipedia.org/wiki/Sun-synchronous_orbit'>sun-synchronous orbit.</a></p>
            <p class="left-align">Simply, this means there is consistent lighting every time an image is acquired for a particular location. For the whole story, see the Landsat <a href='http://landsathandbook.gsfc.nasa.gov/data_properties/prog_sect6_3.html'>handbook.</a></p>
            <p class="left-align"></p>
        </li>
        <li class="footnote" id="fn:4">
            <p class="left-align">Taking segments of the electromagnetic spectrum that we normally can't see and remapping them into one of the red, green, or blue wavelengths, gives us a means of visualizing what would otherwise be invisible. In short, Landsat gives us superpowers.</p>
            <p class="left-align">Snapsat enables you to do this by <strong>composing</strong> three images acquired by Landsat into one.</p>
        </li>
        <li class="footnote" id="fn:5">
            <p class="left-align">Landsat specifies the wavelengths of light over which it captures images as a series of <a href="/guide#bands"><strong>bands</strong></a>.</p>
            <p class="left-align">Specific combinations of bands are useful for illuminating natural and man-made Earth features. Some are just fun to look at. Visit our guide for explination of the most commonly used <a href="/guide#combinations">combinations</a>.</p>
            <p class="left-align">The bar code above each preview is a simple visualization representing which bands you have mapped to each of the red, green, and blue bands.</p>
        </li>
        <li class="footnote" id="fn:7">
            <ul class="list-reset">
                <li><span class="red">L</span><span class="green">X</span><span class="blue">S</span><span class="fuchsia">PPP</span><span class="olive">RRR</span class="purple">YYYY<span class="orange">DDD</span><span  class="maroon">GSI</span><span class="navy">VV</span></li>
                <li><span class="red">L</span> <span class='regular'>= Landsat</span></li>
                <li><span class="green">X</span> <span class='regular'>= Sensor</span></li>
                <li><span class="blue">S</span><span class='regular'>= Satellite</span></li>
                <li><span class="fuchsia">PPP</span> <span class='regular'>= WRS path</span></li>
                <li><span class="olive">RRR</span> <span class='regular'>= WRS row</span></li>
                <li><span class="purple">YYYY</span> <span class='regular'>= Year</span></li>
                <li><span class="orange">DDD</span> <span class='regular'>= Julian day of year</span></li>
                <li><span class="maroon">GSI</span> <span class='regular'>= Ground station identifier</span></li>
                <li><span class="navy">VV</span> <span class='regular'>= Archive version number</span></li>
            </ul>
        </li>
    </ol>
</div>
