<div class="footnotes">
    <hr>
    <ol>
        <li class="footnote" id="fn:1">
            <p class="left-align">Landsat data is annotated using the <a href='http://landsat.gsfc.nasa.gov/?p=3231'>The Worldwide Reference System (WRS)</a>. The WRS specifies the location on Earth of the center of every image with a <strong>path</strong> and <strong>row</strong>. The path references the orbital track of the satellite. The row references latitude.</p>
            <p>Landsat 8 uses WRS-2, first created for Landsat 4. It divides the Earth into 233 paths and 248 rows.</p>
        </li>
        <li class="footnote" id="fn:2">
            <p class="left-align">Landsat 8 passes over the same spot on Earth at the same time, because it maintains a near-polar, <a href='http://en.wikipedia.org/wiki/Sun-synchronous_orbit'>sun-synchronous orbit.</a></p>
            <p class="left-align">Fundamentally, this means there is consistent lighting every time an image is acquired for a particular location. For the whole story, see the Landsat <a href='http://landsathandbook.gsfc.nasa.gov/data_properties/prog_sect6_3.html'>handbook.</a></p>
            <p class="left-align"></p>
        </li>
    </ol>
</div>
