<div class="footnotes">
    <hr>
    <ol>
        <li id="fn:1">
            <p class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
            <p class="left-align">A Landsat <strong>scene</strong> is the combination of a location and a date.</p>
        </li>
        <li class="footnote" id="fn:2">
            <p class="left-align">Landsat data is annotated using the <a href='http://landsat.gsfc.nasa.gov/?p=3231'>The Worldwide Reference System (WRS)</a>. The WRS specifies the location on Earth of the center of every image with a <strong>path</strong> and <strong>row</strong>. The path references the orbital track of the satellite. The row references latitude.</p>
            <p>Landsat 8 uses WRS-2, first created for Landsat 4. It divides the Earth into 233 paths and 248 rows.</p>
        </li>
        <li class="footnote" id="fn:3">
            <p>
                <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='http://landsat.usgs.gov/orbit_path.php'>orbit</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:3">
            <p>
                <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:4">
            <p>
                <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:5">
            <p>
                <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p  class="left-align"><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:6">
           <p>
               <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:7">
           <p>
               <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:8">
           <p>
               <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:9">
           <p>
               <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:10">
           <p>
               <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:11">
           <p>
               <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:12">
           <p>
               <p  class="left-align">Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p  class="left-align">Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>

    </ol>
</div>
