<div class="footnotes">
    <hr>
    <ol>
        <li class="footnote" id="fn:1">
            <p>
                <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:2">
            <p>
                <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:3">
            <p>
                <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:3">
            <p>
                <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:4">
            <p>
                <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:5">
            <p>
                <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
                <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
                <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
            </p>
        </li>
        <li class="footnote" id="fn:6">
           <p>
               <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:7">
           <p>
               <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:8">
           <p>
               <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:9">
           <p>
               <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:10">
           <p>
               <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:11">
           <p>
               <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>
        <li class="footnote" id="fn:12">
           <p>
               <p>Launched February 11, 2013, the Landsat 8 satellite continues the production of a global dataset first begun in 1972. Everyday, the satellite captures nearly 550 scenes of the Earth, each of which measures roughly 180 square kilometers. At worst, it’s an impressive selfie. At best, it’s a tool for learning about the dynamic processes and characteristics of our planet.</p>
               <p>Landsat 8 measures a range of frequencies across the <a href='https://en.wikipedia.org/wiki/Electromagnetic_spectrum'>electromagnetic spectrum</a>, a portion of which falls within what we perceive as visible light. That visible portion accounts for less than half of the light collected by Landsat 8, which raises the question: What's the purpose of capturing frequencies which we aren't able to see? Before we can answer that question, we’re going to have to learn a little more about each of the segments that Landsat collects.</p>
               <p><a href="/guide#basics">Guide</a><a href="#fnref:1" title="return to article" class="reversefootnote">&#160;&#8617;</a>
           </p>
        </li>

    </ol>
</div>
