<style>
  footer {
    display: flex;
    justify-content: center;
  }
</style>

<footer class='py4 mx-auto h5 bold'>

  <ul class='list-reset px4'>
    <li class='gray bold'>Navigation</h5>
    <li><a class='black' href='/'>Home</a></li>
    <li><a class='black' href='/about'>About</a></li>
    <li><a class='black' href='/guide'>Guide</a></li>
    <li>
      <a class='black mr1 fa fa-medium' href='https://medium.com/@snapsat'></a>
      <a class='black mr1 fa fa-twitter' href='https://medium.com/therealsnapsat'></a>
      <a class='black mr1 fa fa-envelope-o' href='mailto:snapsat@snapsat.org'></a>
    </li>
  </ul>

  <ul class='list-reset px4'>
    <li class='gray bold'>Our Team</li>
    <li><a class='black' href='/about#constantine'>Constantine Hatzis</a></li>
    <li><a class='black' href='/about#jacques'>Jacques Tardie</a></li>
    <li><a class='black' href='/about#jake'>Jake Anderson</a></li>
    <li><a class='black' href='/about#joel'>Joel Stanner</a></li>
    <li><a class='black' href='/about#mark'>Mark Saiget</a></li>
  </ul>

  <ul class='list-reset px4'>
    <li class='gray bold'>Special thanks to:</li>
    <li><a class='black' href='http://aws.amazon.com/public-data-sets/'>Amazon Web Services</a></li>
    <li><a class='black' href='http://codefellows.org'>Codefellows</a></li>
    <li><a class='black' href='http://crisewing.com'>Cris Ewing</a></li>
    <li><a class='black' href='http://ekanderson.org'>Emily Anderson</a></li>
    <li><a class='black' href='http://jedsundwall.com'>Jed Sundwall</a></li>
    <li><a class='black' href='https://developmentseed.org'>Development Seed</a></li>
  </ul>

  <!-- <h5 class='gray mb0'>Learn more:</h5> -->
</footer>
