<footer class='px2 py3 container clearfix border-top mt4'>

  <div class='sm-col sm-col-4'>
    <ul class='list-reset bold'>
      <li class='h5 gray'>Navigation</h5>
      <li><a class='black' href='/'>Home</a></li>
      <li><a class='black' href='/about'>About</a></li>
      <li><a class='black' href='/guide'>Guide</a></li>
      <li>
        <a class='black mr1 fa fa-medium' href='https://medium.com/@snapsat'></a>
        <a class='black mr1 fa fa-twitter' href='https://medium.com/therealsnapsat'></a>
        <a class='black mr1 fa fa-envelope-o' href='mailto:snapsat@snapsat.org'></a>
      </li>
    </ul>
  </div>

  <div class='sm-col sm-col-4'>
    <ul class='list-reset bold'>
      <li class='h5 gray'>Who we are</li>
      <li><a class='black' href='/about#constantine'>Constantine Hatzis</a></li>
      <li><a class='black' href='/about#jacques'>Jacques Tardie</a></li>
      <li><a class='black' href='/about#jake'>Jake Anderson</a></li>
      <li><a class='black' href='/about#joel'>Joel Stanner</a></li>
      <li><a class='black' href='/about#mark'>Mark Saiget</a></li>
    </ul>
  </div>

  <div class='sm-col sm-col-4'>
    <ul class='list-reset bold'>
      <li class='h5 gray'>We appreciate</li>
      <li><a class='black' href='http://landsat.usgs.gov/'>The NASA/USGS Landsat program</a></li>
      <li><a class='black' href='http://aws.amazon.com/public-data-sets/'>Amazon Web Services</a></li>
      <li><a class='black' href='http://codefellows.org'>Codefellows</a></li>
      <li><a class='black' href='http://crisewing.com'>Cris Ewing</a></li>
      <li><a class='black' href='https://developmentseed.org'>Development Seed</a></li>
      <li><a class='black' href='http://ekanderson.org'>Emily Anderson</a></li>
      <li><a class='black' href='http://jedsundwall.com'>Jed Sundwall</a></li>
    </ul>
  </div>

</footer>
