<div class='graph' id='reference'></div>
<h2>Generate a full render</h2>
<div class='preview-container'>

    {% for band_combo, composite in composites.iteritems() %}
    <div class='preview' id='{{ band_combo }}'>
        <h2 class='composite-description mbn'>
            <span class='band-red'>{{ composite.band1 }}</span>
            <span class='band-green'>{{ composite.band2 }}</span> 
            <span class='band-blue'>{{ composite.band3 }}</span>
        </h2>

        <!-- Scene barcode visualization -->
        <div class='graph' id='graph{{composite.previewjobid}}'></div>

        <!-- Display a preview or loading image -->
        <div id='{{composite.previewjobid}}'>
            {% if composite.previewurl %}
                <a href="{{ composite.previewurl }}">
                    <img src="{{ composite.previewurl }}">
                </a>
            {% else %}
                <div class='nopreview' id='{{composite.previewjobid}}'>
                    <img src="/static/img/loading.gif">
                </div>
            {% endif %}
        </div>

        <!-- If a full render has already been created, provide a download link to it. -->
        {% if composite.fullurl %}
            <p>Current status: <strong class='red'><a href="{{ composite.fullurl }}">{{ composite.fullstatus }}! Download Full Zip</a></strong></p>

        <!-- If a full render has NOT been created, display a means of creating one. -->
        {% else %}
        <div class='nofull' id='{{composite.fulljobid}}'>

            <!-- If a full has been requested, display the processing status. -->
            {% if composite.fullstatus %}
                <p>Current status: <strong class='red'><span id='fullstatus'>{{ composite.fullstatus }}</span></strong></p>
                {% if composite.elapsed_time %}
                    <p>Elapsed Process Time (hr:min:sec): <span id='fullelapsedtime'>{{ composite.elapsed_time }}</span></p>
                {% endif %}

            <!-- Display a button that causes a full render to be queued. -->
            {% else %}
            <p>
                <strong class='red'>
                    <form method="post">
                        <input type="hidden" name='band1' value="{{ composite.band1 }}"/>
                        <input type="hidden" name='band2' value="{{ composite.band2 }}"/>
                        <input type="hidden" name='band3' value="{{ composite.band3 }}"/>
                        <button formaction="/request_composite/{{scene_id}}" formmethod="post" type="submit">Request a full render.</button>
                    </form>
                </strong>
            </p>
            {% endif %}
        </div> <!-- nofull -->
        {% endif %}
    </div> <!-- preview -->
    {% endfor %}
</div> <!-- preview-container -->
