<div class='js-container-full mbl'>
    <p class='mbn full'>A visual barcode of the bands captured by the Landsat 8 satellite. To learn more about each band, hover or check out our <a href='/guide'>Guide</a>.</p>
    <div class='js-graph' id='js-reference-full'></div>
</div>

<div class='js-container-visible mbl'>
    <p class='mbn full'>A visual barcode of the visible bands <a href='/guide'>Guide</a>.</p>
    <div class='js-graph' id='js-reference-visible'></div>
</div>

{% if composites %}
    <h2>Existing previews</h2>
    <p>Here are some previews that have been previously requested. The barcodes represent which bands are mapped to the red, green, and blue color channels.</p>
{% endif %}

<div class='preview-container'>

    {% for band_combo, composite in composites.iteritems() %}
    <div class='js-preview' id='{{ band_combo }}'>
        <h2 class='composite-description mbn'>
            <span class='js-band-red'>{{ composite.band1 }}</span>
            <span class='js-band-green'>{{ composite.band2 }}</span> 
            <span class='js-band-blue'>{{ composite.band3 }}</span>
        </h2>

        <!-- Scene barcode visualization -->
        <div class='js-graph' id='js-graph{{composite.previewjobid}}'></div>

        <!-- Display a preview or loading image -->
        <div id='{{composite.previewjobid}}'>
            {% if composite.previewurl %}
            <a href="{{ composite.previewurl }}">
                <img src="{{ composite.previewurl }}">
            </a>
            {% else %}
            <div class='js-nopreview' id='{{composite.previewjobid}}'>
                <img src="/static/img/loading.gif">
            </div>
            {% endif %}
        </div>

        <!-- If a full render has already been created, provide a download link to it. -->
        {% if composite.fullurl %}
        <p>Current status: <strong class='red'><a href="{{ composite.fullurl }}">{{ composite.fullstatus }}! Download Full Zip</a></strong></p>

        <!-- If a full render has NOT been created, display a means of creating one. -->
        {% else %}
        <div class='js-nofull' id='{{composite.fulljobid}}'>

            <!-- If a full has been requested, display the processing status. -->
            {% if composite.fullstatus %}
            <p>Current status: <strong class='red'><span id='js-fullstatus'>{{ composite.fullstatus }}</span></strong></p>
            {% if composite.elapsed_time %}
            <p>Elapsed Process Time (hr:min:sec): <span id='js-fullelapsedtime'>{{ composite.elapsed_time }}</span></p>
            {% endif %}

            <!-- Display a button that causes a full render to be queued. -->
            {% else %}
            <p>
                <form method="post">
                    <input type="hidden" name='band1' value="{{ composite.band1 }}"/>
                    <input type="hidden" name='band2' value="{{ composite.band2 }}"/>
                    <input type="hidden" name='band3' value="{{ composite.band3 }}"/>
                    <label for="render_email">Enter your email:</label>
                    <input type="text" style="width:140px" name="email_address"/>
                    <button formaction="/request_composite/{{ meta_data.scene_id }}" formmethod="post" id="render_email" type="submit">Request a full render.</button>
                </form>
            </p>
            {% endif %}
        </div> <!-- js-nofull -->
        {% endif %}
    </div> <!-- preview -->
    {% endfor %}
</div> <!-- preview-container -->

<section class='mbl'>
    <h2>Your selection</h2>
    <div class='flex-container'>
        <div class='flex-child'>
            <img src='{{ meta_data.overview_url }}'>
        </div>
        <ul id='metadata' class='flex-child plm'>
            <li><span class='bold'>ID:</span> {{ meta_data.scene_id }}</li>
            <li><span class='bold'>Acquistion Date:</span> {{ meta_data.acquisitiondate }}</li>
            <li><span class='bold'>Cloud Cover:</span> {{ meta_data.cloudcover }}%</li>
            <li><span class='bold'>Minimum/Maximum Latitude:</span> {{ meta_data.min_lat }}/{{ meta_data.max_lat }}</li>
            <li><span class='bold'>Minimum/Maximum Longitude:</span> {{ meta_data.min_lon }}/{{ meta_data.max_lon }}</li>
        </ul>
    </div>
</section>
