<head>
  <!-- Meta -->
  <meta charset=utf-8 />
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  {% block title %}
  <title>Home | Snapsat</title>
  {% endblock %}
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='Create custom Landsat 8 band combinations in your browser'>

  <!-- Styles -->
  <link rel='icon' href='/static/favicon.ico' type='image/ico' >
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='http://d2v52k3cl9vedd.cloudfront.net/basscss/6.0.0/basscss.min.css'>
  <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css'>
  <link rel='stylesheet' href='/static/site.css'>

  <!-- Javascript -->
  <script src='/static/bundle.js'></script>
  <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
  <script src='//code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
  <script src='http://d3js.org/d3.v3.js'></script>
  <script src='http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js'></script>
  <script src='/static/js/modernizr-2.8.3.min.js'></script>
  <script src='/static/js/analytics.js'></script>
  <script src='/static/js/lodash.min.js'></script>
  <script src='/static/js/spectrum_bars.js'></script>
  <script src='/static/js/longpoll.js'></script>
  <script src='/static/js/map_location.js'></script>
  <script src='//use.typekit.net/wqn0qec.js'></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src='/static/js/bigfoot.min.js'></script>
  <script>$.bigfoot();</script>
  <script type='text/javascript' src='/static/js/doorbell.js'></script>
</head>
