{% if composites %}
<h2 class='center'>Check out these existing previews</h2>
{% endif %}

<div class='preview-container clearfix px5'>

    {% for band_combo, composite in composites.iteritems() %}
    <div class='js-preview sm-col sm-col-6 md-col md-col-4 lg-col lg-col-3 relative' id='{{ band_combo }}'>
        <div class='scene-meta white full-width'>
            <h3 class='composite-description center'>
                <span class='js-band-red red'>{{ composite.band1 }}</span>
                <span class='js-band-green green'>{{ composite.band2 }}</span> 
                <span class='js-band-blue blue'>{{ composite.band3 }}</span>
            </h3>

            {% if composite.fullurl %}
            <p class='button'><a href="{{ composite.fullurl }}">{{ composite.fullstatus }}! Download Full Zip</a></p>

            <!-- If a full render has NOT been created, display a means of creating one. -->
            {% else %}
            <div class='js-nofull' id='{{composite.fulljobid}}'>

                <!-- If a full has been requested, display the processing status. -->
                {% if composite.fullstatus %}
                <p>Current status: <strong class='red'><span id='js-fullstatus'>{{ composite.fullstatus }}</span></strong></p>
                <!-- Display a button that causes a full render to be queued. -->
                {% else %}
                <p>
                    <form method="post">
                        <input type="hidden" name='band1' value="{{ composite.band1 }}"/>
                        <input type="hidden" name='band2' value="{{ composite.band2 }}"/>
                        <input type="hidden" name='band3' value="{{ composite.band3 }}"/>
                        <button class='button' formaction="/request_composite/{{ meta_data.scene_id }}" formmethod="post" type="submit">Request a full render.</button>
                    </form>
                </p>
                {% endif %}
                <!-- If a full render has already been created, provide a download link to it. -->
            </div> <!-- nofull -->
            {% endif %}

        </div>

        <!-- Scene barcode visualization -->
        <div class='js-graph' id='graph{{composite.previewjobid}}'></div>

        <div id='{{composite.previewjobid}}'>
            {% if composite.previewurl %}
            <a href="{{ composite.previewurl }}">
                <img src="{{ composite.previewurl }}">
            </a>
            {% else %}
            <div class='js-nopreview' id='{{composite.previewjobid}}'>
                <img src="/static/img/loading.gif">
            </div>
            {% endif %}
        </div>
        <!-- Display a preview or loading image -->

    </div> <!-- preview -->
    {% endfor %}
</div> <!-- preview-container -->


