<!-- Display metadata on the selected scene. -->

<!-- Provide a means of creating preview images. -->
<section class='mbl'>
    <h2>Create a preview</h2>
    <section id='scene_info'>

        <!-- Use a prebuilt, common combination. -->
        <div id='generate' class='mbm'>
            <p>Quickly create a preview using one of the more common band combinations.</p>
            <div class='inline-block clearfix'>

                <form method="post" class='display-inline-block'>
                    <input type="hidden" name='band1' value="4"/>
                    <input type="hidden" name='band2' value="3"/>
                    <input type="hidden" name='band3' value="2"/>
                    <button class='button-full' formaction="/request_preview/{{meta_data.scene_id}}" formmethod="post" type="submit">Natural Color</button>
                </form>
                <form method="post" class='display-inline-block'>
                    <input type="hidden" name='band1' value="2"/>
                    <input type="hidden" name='band2' value="5"/>
                    <input type="hidden" name='band3' value="9"/>
                    <button class='button-full' formaction="/request_preview/{{meta_data.scene_id}}" formmethod="post" type="submit">Make Me Something Pretty</button>
                </form>
                <form method="post" class='display-inline-block'>
                    <input type="hidden" name='band1' value="5"/>
                    <input type="hidden" name='band2' value="6"/>
                    <input type="hidden" name='band3' value="4"/>
                    <button class='button-full' formaction="/request_preview/{{meta_data.scene_id}}" formmethod="post" type="submit">Land/Water Delination</button>
                </form>
                <form method="post" class='display-inline-block'>
                    <input type="hidden" name='band1' value="7"/>
                    <input type="hidden" name='band2' value="6"/>
                    <input type="hidden" name='band3' value="4"/>
                    <button class='button-full' formaction="/request_preview/{{meta_data.scene_id}}" formmethod="post" type="submit">Urban</button>
                </form>
            </div>
        </div> <!-- Prebuilt combinations -->

        <!-- Create a custom combination with any available band. -->
        <div class='mbl'>
            <h3 class='mbn'>Alternatively, build a custom combination</h3>
            <p>Roll your own custom band combination.</p>
            <form method="post" id="request_form_{{meta_data.scene_id}}">
                <div id='combinations' class='display-inline-block'>
                    <select class='display-inline-block' name='band1' id='js-band1' required>
                        <option selected value=''>Select Red Band</option>
                    </select>
                    <select class='display-inline-block' name='band2' id='js-band2' required>
                        <option selected value=''>Select Green Band</option>
                    </select>
                    <select class='display-inline-block' name='band3' id='js-band3' required>
                        <option selected value=''>Select Blue Band</option>
                    </select>
                </div>
                <button form="request_form_{{meta_data.scene_id}}" formaction="/request_preview/{{meta_data.scene_id}}" formmethod="post" type="submit">Render Preview</button>
            </form>
        </div> <!-- Custom combinations. -->


        <script type='text/javascript' src='/static/js/band.js'></script>

    </section> <!-- Scene info -->
</section>

