@import 'normalize.css';
@import 'layout.css';
@import 'bigfoot.css';

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'brandon-grotesque';

}

nav {
  font-family: 'brandon-grotesque';
  background: rgba(0, 0, 0, 0.5);
  font-weight: normal;
}

.composite-description {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.8);
  margin-left: -45px;
}
.js-preview {
  transition: all 0.2s ease;
  border: 1rem solid rgba(255,255,255,0);
}
.js-preview:hover {
  transition: all 0.2s ease;
  border: 1rem solid rgba(255,255,255,0.5);
}
.loading {
  position: absolute;
  left: 40%;
  top: 40%;
}
.bg-black {
  background: #000;
}
.main-page-text img {
  display: none;
}
.ui-widget {
  z-index: 9999;
  font-size: 1em;
  border: 2px solid initial;
}

.ui-widget-content {
  background: #F6F6F6;
  border: 2px solid #F6F6F6;
  color: #222222;
}

.ui-dialog {
  left: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  top: 0;
}

#success {
  padding: 0;
  margin: 0;
}

.ui-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  overflow: auto;
  position: relative;
  padding: 0.1em .1em;
}

.ui-widget-header {
  background: rgba(0,0,0,.25);
  border: 0;
  font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0.1em .5em;
  position: relative;
  font-size: 1.2em;
}

.ui-button {
  position: absolute;
  right: .3em;
  padding: .2em .1em;
  background: rgba(0,0,0,0);
}
#basics  {
  padding-top: 10%;
}
#bands {
  padding-top: 10%;
}
#combinations {
  padding-top: 10%;
}
#see-also {
  padding-top: 10%;
}
.main-page-text img {
  display: none;
}

.introduction, 
.results {
  z-index: 9999;
}

.introduction {
  position: absolute;
  top: 50%;
  left: 50%;
}

.results {
  position: absolute;
  bottom: 2rem;
  left: 50%;
}

.h0 {
  font-size: 4rem;
}

footer {
  display: flex;
  justify-content: center;
}

