
@charset "UTF-8";

@font-face {
  font-family: "dripicons";
  src:url("../fonts/dripicons.eot");
  src:url("../fonts/dripicons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/dripicons.ttf") format("truetype"),
    url("../fonts/dripicons.svg#dripicons") format("svg"),
    url("../fonts/dripicons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dripicons";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}
